$bp : (
  mobile : 480px,
  tablet : 768px,
  desktop : 1440px
);


@mixin query($screen) {
  @each $key, $value in $bp {
    @if($screen == $key) {
      @media (max-width: $value) {@content;}
    }
  }
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  body {
    font-family: sans-serif;
    font-size: 30px;
  }
}

[class ^="box-"] {
  display: grid;
  place-items: center;
  border: 3px solid red;
}

.container {
  display: grid;
  height: 100vh;
  grid-gap: 10px;
  grid-template-areas: 
    "a a a  a a a"
    "c b b  b b e"
    "c d d  d d e"
    "c d d  d d e"
    "f f f  f f f";
}

@include query(tablet) {
  .container {
    grid-template-areas: 
    "a a a  a a a"
    "b b b  b b b"
    "c c d  d d d"
    "c c d  d d d"
    "e e f  f f f";
  }
}
@include query(mobile) {
  .container {
    grid-template-areas: 
    "a a a  a a a"
    "b b b  b b b"
    "c c c  c c c"
    "c c c  c c c"
    "d d d  d d d"
    "e e e  e e e"
    "f f f  f f f";
  }
}

.box-1 {
  grid-area: a;
}
.box-2 {
  grid-area: b;
}
.box-3 {
  grid-area: c;
}
.box-4 {
  grid-area: d;
}
.box-5 {
  grid-area: e;
}
.box-6 {
  grid-area: f;
}