$bp : (
  mobile : 480px,
  tablet : 768px,
  desktop : 1440px
);


@mixin query($screen) {
  @each $key, $value in $bp {
    @if($screen == $key) {
      @media (max-width: $value) {@content;}
    }
  }
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  body {
    font-family: sans-serif;
    font-size: 30px;
  }
}

[class ^="box-"] {
  display: grid;
  place-items: center;
  border: 3px solid red;
}

.container {
  display: grid;
  height: 100vh;
  grid-gap: 10px;
  grid-template-areas: 
    "a a a a"
    "b b b c"
    "b b b c";
}

@include query(mobile) {
  .container {
    grid-template-areas: 
    "a a a a"
    "b b b b"
    "c c c c";
  }
}

.box-1 {
  grid-area: a;
}
.box-2 {
  grid-area: b;
}
.box-3 {
  grid-area: c;
}